In [19]:
import pandas as pd
import os

In [20]:
os.chdir('G:/My Drive/IN/Data/Data_Definitions')

In [21]:
amazon = pd.read_csv('amazon.csv')
kind_neuralprophet = pd.read_csv('kind_neuralprophet.csv')
kind_prophet = pd.read_csv('kind_prophet.csv')
robyn_cleaned = pd.read_csv('robyn_cleaned.csv')
kind_tabular = pd.read_csv('kind_tabular.csv')

In [22]:
amazon.head()

,client_name,brand_name,week,campaign_type,primary_search_strategy,spend,impressions,clicks,attributed_sales,sales
0,KIND,KIND,1/31/2021,sponsoredBrands,Branded,6658.83,306608.0,2448.0,19079.06,890866.78
1,KIND,KIND,1/31/2021,sponsoredBrands,Category,2228.18,207500.0,254.0,1269.88,890866.78
2,KIND,KIND,1/31/2021,sponsoredBrands,Competitive,0.00,0.0,0.0,0.00,890866.78
3,KIND,KIND,1/31/2021,sponsoredBrands,Uncategorized,0.00,0.0,0.0,0.00,890866.78
4,KIND,KIND,1/31/2021,sponsoredBrandsVideo,Branded,0.00,0.0,0.0,0.00,890866.78

#### The original Amazon Kind data set has been fundamental for quite a few of my time
#### series work. While I have used all of Kind's data for Vertex AI, for example,
#### I typically will delete all of the columns besides the revenue and date,
#### eliminate all duplicates, and progress with the forecasting

In [23]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3309 entries, 0 to 3308
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   client_name              3309 non-null   object
 1   brand_name               3309 non-null   object
 2   week                     3309 non-null   object
 3   campaign_type            3309 non-null   object
 4   primary_search_strategy  3309 non-null   object
 5   spend                    3227 non-null   float64
 6   impressions              3227 non-null   float64
 7   clicks                   3227 non-null   float64
 8   attributed_sales         3227 non-null   float64
 9   sales                    3309 non-null   float64
dtypes: float64(5), object(5)
memory usage: 258.6+ KB

In [24]:
amazon.describe()

,spend,impressions,clicks,attributed_sales,sales
count,3227.000000,3.227000e+03,3227.000000,3227.000000,3.309000e+03
mean,2512.364072,4.370186e+05,976.777812,6995.083626,8.208856e+05
std,5535.500038,1.047554e+06,1833.851847,16412.159329,5.754544e+05
min,0.000000,0.000000e+00,0.000000,0.000000,5.446846e+04
25%,21.405000,3.682500e+03,18.000000,31.515000,3.550916e+05
50%,438.420000,8.750000e+04,271.000000,1169.560000,7.568306e+05
75%,2141.335000,3.932630e+05,961.000000,5184.325000,1.289654e+06
max,63252.070000,2.230435e+07,16169.000000,194489.010000,2.497727e+06

In [25]:
kind_prophet.head()

           ds          y
0  2018-06-03  662170.37
1  2018-06-10  652171.79
2  2018-06-17  668735.46
3  2018-06-24  697074.12
4  2018-07-01  605821.35

In [26]:
kind_prophet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      210 non-null    object
 1   y       210 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.4+ KB

In [27]:
kind_prophet.describe()

                  y
count  2.100000e+02
mean   1.098883e+06
std    4.346303e+05
min    4.174589e+05
25%    7.471314e+05
50%    9.120214e+05
75%    1.522354e+06
max    2.497727e+06

#### Robyn, and any associated data set with it, is an ongoing process. I have found
#### the most success using Tyson, which I am using here, and narrowing down the most
#### important tactics, then using a pivot table to put it into the format Robyn requires
#### for analysis. Google Lightweight MMM can use the same data but seems to have far
#### fewer problems

In [28]:
robyn_cleaned.head()

,Influencer_I,Social_Media_I,Radio_I,Influencer_S,Social_Media_S,Radio_S,revenue,beef,chicken,cag_V,DATE
0,11405123,5945479,216475453.4,90003.23,30000,693000,14201964.62,3.841,2.930,29.160000,2019-10-06
1,11405123,5945479,211874540.5,90003.23,30000,693000,15703190.71,3.841,2.930,28.500000,2019-10-13
2,54811539,5945479,207273627.6,339515.58,30000,693000,16903252.55,3.841,2.930,27.680000,2019-10-20
3,59584985,7056590,202672714.6,370265.58,35000,693000,17041206.68,3.841,2.930,27.959999,2019-10-27
4,505839713,7056590,198071801.7,3872465.58,35000,693000,44838814.19,3.812,2.948,28.230000,2019-11-03

In [29]:
robyn_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Influencer_I    85 non-null     int64
 1   Social_Media_I  85 non-null     int64
 2   Radio_I         85 non-null     float64
 3   Influencer_S    85 non-null     float64
 4   Social_Media_S  85 non-null     int64
 5   Radio_S         85 non-null     int64
 6   revenue         85 non-null     float64
 7   beef            85 non-null     float64
 8   chicken         85 non-null     float64
 9   cag_V           85 non-null     float64
 10  DATE            85 non-null     object
dtypes: float64(6), int64(4), object(1)
memory usage: 7.4+ KB

In [30]:
robyn_cleaned.describe()

,Influencer_I,Social_Media_I,Radio_I,Influencer_S,Social_Media_S,Radio_S,revenue,beef,chicken,cag_V
count,8.500000e+01,8.500000e+01,8.500000e+01,8.500000e+01,8.500000e+01,8.500000e+01,8.500000e+01,85.000000,85.000000,85.000000
mean,6.154648e+08,3.873606e+07,1.226710e+08,4.477620e+06,3.202294e+05,2.325455e+06,1.295914e+08,4.052894,3.184694,34.819412
std,8.507351e+08,5.521095e+07,7.975367e+07,6.531803e+06,4.002625e+05,4.521038e+06,1.716710e+08,0.221283,0.157301,3.231174
min,2.421731e+06,7.000000e+05,2.325463e+05,2.000000e+04,5.000000e+03,5.866200e+04,9.285800e+02,3.812000,2.930000,27.680000
25%,2.577117e+07,1.727728e+06,4.624168e+07,1.600000e+05,3.000000e+04,6.930000e+05,9.361923e+06,3.881000,3.013000,33.369999
50%,3.597878e+08,1.217154e+07,1.198563e+08,1.235978e+06,1.600000e+05,6.930000e+05,3.796270e+07,4.008000,3.239000,35.450001
75%,7.659713e+08,5.435969e+07,1.934709e+08,4.572212e+06,3.250000e+05,6.930000e+05,1.616179e+08,4.096000,3.293000,37.189999
max,2.801696e+09,2.100431e+08,2.670855e+08,2.104940e+07,1.495000e+06,1.469723e+07,6.585114e+08,4.737000,3.412000,39.340000

#### So far I like the NeuralProphet quite a bit, but it does use data the very same
#### way that Prophet does. The date column is renamed 'ds', and the sales column 'y',
#### and  it's ready to go.

In [31]:
kind_neuralprophet.head()

          ds          y
0   6/3/2018  662170.37
1  6/10/2018  652171.79
2  6/17/2018  668735.46
3  6/24/2018  697074.12
4   7/1/2018  605821.35

In [32]:
kind_neuralprophet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      196 non-null    object
 1   y       196 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.2+ KB

In [33]:
kind_neuralprophet.describe()

                  y
count  1.960000e+02
mean   1.049276e+06
std    3.976111e+05
min    4.174589e+05
25%    7.335468e+05
50%    8.924860e+05
75%    1.413862e+06
max    2.013326e+06

Because of the peculiar limitations for using Vertex AI's forecasting capabilities,
there needed to be more than 1000 rows, which was not possible by dropping the other
columns (after dropping duplicates, only ~250 remained). By concatenating the two
categorical fields (and of course putting the obligatory id of 1 in every cell in the
column), I was able to finish the model and get it to batch processing.

In [34]:
kind_tabular.head()

         week               campaign_type     spend  clicks      sales  id
0  2018-06-03      sponsoredBrandsBranded   3979.63    1649  662170.37   1
1  2018-06-03     sponsoredBrandsCategory   1584.37     444  662170.37   1
2  2018-06-03  sponsoredBrandsCompetitive     53.03      42  662170.37   1
3  2018-06-03       sponsoredProductsAuto   3800.92    1866  662170.37   1
4  2018-06-03    sponsoredProductsBranded  13325.53    8278  662170.37   1

In [35]:
kind_tabular.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week           1394 non-null   object
 1   campaign_type  1394 non-null   object
 2   spend          1394 non-null   float64
 3   clicks         1394 non-null   int64
 4   sales          1394 non-null   float64
 5   id             1394 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 65.5+ KB

In [36]:
kind_tabular.describe()

              spend        clicks         sales      id
count   1394.000000   1394.000000  1.394000e+03  1394.0
mean    5126.590301   1850.906743  1.047213e+06     1.0
std     7563.383366   2455.025047  3.944732e+05     0.0
min        0.840000      1.000000  4.174589e+05     1.0
25%      571.182500    270.250000  7.313538e+05     1.0
50%     1978.775000    791.000000  8.883132e+05     1.0
75%     6115.425000   2325.000000  1.409162e+06     1.0
max    63252.070000  16169.000000  2.013326e+06     1.0